<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/aboutUs.css">
    <script src="/scripts/main.js"></script>
    <title>About Us Page</title>
<body>
    <nav>
                <!--- navigation bar using javascript for redirects -->
                <ul class="navbar">
                    <li onclick="index()">
                        <!-- <img src="/static/logo.png"  > -->
                        <p> G.L.H 🪻 </p>
                    </li>
                    <li onclick="index()">
                        <a href="index.html">Home</a>
                    </li>
                    <li onclick="aboutUs()">
                        <a href="about_us.html">About us</a>
                    </li>
                    <li onclick="ProductsPage()">
                        <a href="products.html"> Products/Services </a>
                    </li>
                    <li onclick="loginPage()">
                        <a href="login.html"> Login </a>
                    </li>
                    <li onclick="SignUp()">
                        <a href="signup.html"> Sign Up</a>
                    </li>
                    <li onclick="orderHistory()">
                        <a href="order_history.html"> Order History </a>
                    </li>
                    <li onclick="checkout()">
                        <a href="checkout.html"> Checkout </a>
                    </li>
                    
                </ul>

    </nav>

    <header class="hero-container"> 

        <p class="text-hero-section">WELCOME TO GREENFIELD LOCAL HUB </p>

    </header>


    <section class="container">

            <div class="mission-statement">
                <p> Mission statement</p>
                <p> We aim to deliver the best farm to table products at the Cheapest Price. </p>
                <p> Supporting our Local Farmers every step of the way </p>
            </div>

            <aside class="aboutus">
                <div>
                    <p> What our customers say </p>
                </div>
                <div>
                    <p> Stress-Free payment system </p>
                </div>
                <div>
                    <p> Delivering Everywhere within reasonable time </p>
                </div>
                <div>
                    <p> Delivering Everywhere within reasonable time </p>
                </div>
                <div>
                    <p> What our customers say </p>
                </div>
                <div>
                    <p> What our customers say </p>
                </div>
                <div>
                    <p> What our customers say </p>
                </div>
            </aside>
            <article class="quotes">
                <div>
                    <img src="/static/images/ladyicon.png.jpeg" alt="icon placeholder">
                    <p> "I always get the best ingredients from GLH Market" </p>
                </div>
                <div>
                    <img src="/static/images/produce.png" alt="produce image">
                    <p> Straight from the farm to your table 👌👌👌 </p>

                </div>
            
            </article>
    </section>
    <footer class="footer">
        <ul>
            <li>
                Call/Whatsapp us at +44 712 345 6789
            </li>
            <li>
                <p>Instagram</p>
            </li>
            <li>
                <p>Email Us</p>
            </li>
        </ul>
    </footer>
</body>
</html>